@import "fuentes";
/* INDEX */
.index{
    .escudos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .equipo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resultados{
        width: 100%;
    }
    .gridResultados{
        display: grid;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    .map{
        display: flex;
        justify-content: center;
        padding: 10px;
        iframe{
            width: 100%;
            height: 400px;
        }
    }
}

/* NOTICIAS */
$bgnoticiaimpar:white;
$bgnoticiapar:rgb(204, 189, 189);

@mixin noticia ($bgnoticia){
    background-color: ($bgnoticia);
}
.noticia1{
    @include noticia ($bgnoticiaimpar)
}
.noticia2{
    @include noticia ($bgnoticiapar)
}
.noticia3{
    @include noticia ($bgnoticiaimpar)
}
.noticias{
    .titulo-noticia{
        padding: 10px 30px;
    }
    .img-noticia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        row-gap: 10px;
        img:hover{
            transform: scale(1.2,1.2);
        }
    }
}


/* ESTADIO */
.estadio{
    .img-estadio{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        row-gap: 20px;
        img:hover{
            transform: scale(1.2,1.2);
        }
    }
    .car-estadio{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        #carouselEstadio{
            width: 480px;
            height: 360px;
        }
    }
}

/* ESTADIO2 */
.estadio2{
    .img-malvicino{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
        img:hover{
            transform: scale(1.2,1.2);
        }
    }
}

/* FIXTURE */
.fixture{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    .partido{
        padding: 10px 20px;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
        transition: all 2s;
        &:hover{
            background-color: rgb(170, 165, 165);
            transform: scale(1.1,1.1);
        }
    }
    .club1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 33%;
    }
    .club2{
        display: flex;
        align-items: center;
        width: 33%;
    }
}


/* FORMULARIO */
.formulario{
    background-image: url("../Media/equipos/union.png");
    background-position: center;
    background-repeat: no-repeat;
    .boton{
        border: none;
        border-radius: 4px;
        color: white;
        padding: 10px;
    }
    .btn_enviar{
        @extend .boton;
        background-color: $aceptar;
    }
    .btn_limpiar{
        @extend .boton;
        background-color: $cancelar;
    }
}

/* MEDIAS QUERIES */

/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px){
    /* NOTICIAS */
    .img-noticia img{
        width: 300px;
        height: 200px;
    }

    /* FIXTURE */
    .fixture{
        width: 100%;
        .partido{
            padding: 0px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 10px;
            img{
                width: 40px;
                height: 40px;
            }
        }
        .club1{
            width: 33%;
        }
        .club2{
            width: 33%;
        }
    }
}

/* vista mobile */
@media only screen and (min-width:0px) and (max-width:767px){
    h1{font-size: 15px;}
    h2{font-size: 22px;}
    h3{font-size: 18px;}
    h4{font-size: 14px;}
    p{font-size: 14px;}

    /* ESTADIO */
    .img-estadio img{
        width: 300px;
        height: 200px;
    }
    .car-estadio img{
        width: 360px;
        height: 280px;
    }
    #carouselEstadio{
        width: 360px;
        height: 280px;
    }

    /* FIXTURE */
    .fixture{
        width: 100%;
        .partido{
            padding: 0px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-bottom: 10px;
            h4{
                font-size: 10px;
            }
            img{
                width: 40px;
                height: 40px;
            }
        }
        .club1{
            width: 40%;
        }
        .club2{
            width: 40%;
        }
    }

    /* NOTICIAS */
    .img-noticia img{
        width: 300px;
        height: 200px;
    }
}