*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS del header */
header{
    background-color: #AE0808; 
}

.encabezado{
    display: flex;
    align-items: center;
    padding: 10px;
}

.encabezado a{
    margin: 10px;
}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-size: 3 rem;
    text-align: justify;
}

header a{
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-size: 2 rem;
    text-align: justify;
    text-decoration: none;
}

nav{
    background-color: #EE0101;
    padding: 0;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;

}

.menu li{
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 2rem;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu ul{
    position: relative;
    display: none;
}

.menu ul li{
    display: block;
    width: 18%;
    padding: 10px;
    background-color: white;
    font-size: 1rem;
}

.menu ul li a{
    color: #AE0808;
}

.menu li:hover{
    background-color: #AE0808;
}

.menu li:hover ul{
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
}

.menu li:hover li:hover{
    background-color: rgba(216, 186, 186, 0.719);
}

/* CSS del main */
h2{
    padding: 10px 20px;
    color: #AE0808;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-size: 2rem;
    text-align: justify;
    margin-top: 5px;
}
h3{
    padding: 10px 20px;
    color: #AE0808;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 1.5rem;
    text-align: justify;
    margin-top: 5px;
}

main{
    background-color: white;
}

p{
    padding: 12px 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1.2;
    text-align: justify;
}

h4{
    padding: 12px 20px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

/* CSS Index */
.gridContainerIndex{
    display: grid;
    grid-template-areas: 
    "header header"
    "prox-partido info-prox-partido"
    "resultados resultados"
    "ubicacion ubicacion"
    "footer footer";
    grid-template-columns: 50% 50%;

}

.prox-partido{
    grid-area: prox-partido;
}
.escudos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-prox-partido{
    grid-area: info-prox-partido;
    margin-top: 70px;

}
.resultados{
    grid-area: resultados;
    width: 100%;
}
.gridResultados{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(3,1fr);
    width: 40%;
}

.ubicacion{
    grid-area: ubicacion;
}
.map{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.map iframe{
    width: 100%;
    height: 400px;
}

/* CSS Noticias */
.gridContainerNoticias{
    display: grid;
    grid-template-areas: 
    "header"
    "noticias"
    "footer";
    grid-template-columns: 100%;
} 
.noticias{
    grid-area: noticias;
    display: flex;
    flex-direction: column;
}
.noticia{
    display: flex;
    flex-wrap: wrap;
}
.titulo-noticia{
    width: 100%;
}
.cuerpo-noticia{
    width: 60%;
}
.img-noticia{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
}
.img-noticia:hover{
    transform: scale(1.2,1.2);
}


/* CSS Estadio */
.gridContainerEstadio{
    display: grid;
    grid-template-areas: 
    "header header header"
    "titulo-estadio titulo-estadio titulo-estadio"
    "desc-estadio desc-estadio img-estadio"
    "video-estadio video-estadio video-estadio"
    "footer footer footer";
    grid-template-columns: 33% 33% 33%;
}
header{
    grid-area: header;
}
.titulo-estadio{
    grid-area: titulo-estadio;
}
.desc-estadio{
    grid-area: desc-estadio;
}

footer{
    grid-area: footer;
}

.img-estadio{
    grid-area: img-estadio;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    row-gap: 20px;
}
.img-estadio img:hover{
    transform: scale(1.2,1.2);
}

.video-estadio{
    grid-area: video-estadio;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}


/* CSS Estadio2*/
.gridContainerEstadio2{
    display: grid;
    grid-template-areas: 
    "header header header"
    "titulo-malvicino titulo-malvicino titulo-malvicino"
    "desc-malvicino desc-malvicino img-malvicino"
    "footer footer footer";
    grid-template-columns: 33% 33% 33%;
}
.titulo-malvicino{
    grid-area: titulo-malvicino;
}
.desc-malvicino{
    grid-area: desc-malvicino;
}
.img-malvicino{
    grid-area: img-malvicino;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.img-malvicino img:hover{
    transform: scale(1.2,1.2);
}

/* CSS Fixture */
.gridContainerFixture{
    display: grid;
    grid-template-areas: 
    "header"
    "fixture"
    "footer";
    grid-template-columns: 100%;
}
.fixture{
    grid-area: fixture;
    display: flex;
    flex-direction: column;
    width: 60%;
}
.partido{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partido:hover{
    background-color: rgb(170, 165, 165);
}
.club1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33%;
}
.club2{
    display: flex;
    align-items: center;
    width: 33%;
}


/* CSS Formulario*/
.gridContainerContacto{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
}
.main{
    grid-area: main;
}
.formulario{
    padding: 12px 20px;
    color: black;
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: justify;
    line-height: 1;
    background-image: url("../Media/equipos/union.png");
    background-position: center;
    background-repeat: no-repeat;
}

fieldset{
    display: flex;
    flex-direction: column;
}

.reng-form{
    padding: 10px;
}

input[type=text]{
    padding: 6px 10px;
    margin: 8px 0;
    border-radius: 4px;
}

input[type=submit]{
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
}

textarea{
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
}


/* CSS del footer */
footer{
    background-color: #AE0808;
    padding: 20px 0 0 0;
    display: flex;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p{
    color: white;
    font-family: 'Edu TAS Beginner', cursive;
    text-align: justify;
}

.contacto{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
}

.redes-sociales{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    width: 90%;
    justify-content: end;
}
.redes-sociales .imagen:hover{
    transform: scale(1.5,1.5);
}

.imagen{
    padding: 10px;
}

/* MEDIAS QUERIES */
/* vista desktop */
@media only screen and (min-width: 1240px){

}

/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px){
    .gridContainerIndex{
        display: grid;
        grid-template-areas: 
        "header"
        "prox-partido"
        "info-prox-partido"
        "resultados"
        "ubicacion"
        "footer";
        grid-template-columns: 100%;
    }
    header{
        grid-area: header;
    }
    .prox-partido{
        grid-area: prox-partido;
    }
    .info-prox-partido{
        grid-area: info-prox-partido;
        margin-top: 0px;
    }
    .resultados{
        grid-area: resultados;
    }
    .ubicacion{
        grid-area: ubicacion;
    }
    footer{
        grid-area: footer;
    }

    /* ESTADIO */
    .gridContainerEstadio{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo-estadio"
        "desc-estadio"
        "img-estadio"
        "video-estadio"
        "footer";     
        grid-template-columns: 100%;
    }
    .titulo-estadio{
        grid-area: titulo-estadio;
    }
    .desc-estadio{
        grid-area: desc-estadio;
    }
    .img-estadio{
        grid-area: img-estadio;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }
    .video-estadio{
        grid-area: video-estadio;
    }

    /* ESTADIO2 */
    .gridContainerEstadio2{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo-malvicino"
        "desc-malvicino"
        "img-malvicino"
        "footer";
        grid-template-columns: 100%;
    }
    .titulo-malvicino{
        grid-area: titulo-malvicino;
    }
    .desc-malvicino{
        grid-area: desc-malvicino;
    }
    .img-malvicino{
        grid-area: img-malvicino;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    /* NOTICIAS */
    .cuerpo-noticia{
        width: 100%;
    }
    .img-noticia{
        width: 100%;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
    }
    .img-noticia img{
        width: 300px;
        height: 200px;
    }

    /* FIXTURE */
    .fixture{
        width: 100%;
    }
    .partido{
        padding: 0px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    
    .partido img{
        width: 40px;
        height: 40px;
    }
    .club1{
        width: 33%;
    }
    .club2{
        width: 33%;
    }
}








/* vista mobile */
@media only screen and (min-width:0px) and (max-width:767px){
    .gridContainerIndex{
        display: grid;
        grid-template-areas: 
        "header"
        "prox-partido"
        "info-prox-partido"
        "resultados"
        "ubicacion"
        "footer";
        grid-template-columns: 100%;
    }

    header{
        grid-area: header;
    }
    .menu{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu li{
        font-size: 1rem;
        width: 33.3%;
    }
    .menu ul li{
        width: 25%;
    }
    .prox-partido{
        grid-area: prox-partido;
    }
    .info-prox-partido{
        grid-area: info-prox-partido;
        margin-top: 0px;
    }
    .resultados{
        grid-area: resultados;
    }
    .ubicacion{
        grid-area: ubicacion;
    }
    footer{
        grid-area: footer;
    }

    h1{font-size: 15px;}
    h2{font-size: 22px;}
    h3{font-size: 18px;}
    h4{font-size: 14px;}
    p{font-size: 14px;}

    /* ESTADIO */
    .gridContainerEstadio{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo-estadio"
        "desc-estadio"
        "img-estadio"
        "video-estadio"
        "footer";     
        grid-template-columns: 100%;
    }
    .titulo-estadio{
        grid-area: titulo-estadio;
    }
    .desc-estadio{
        grid-area: desc-estadio;
    }
    .img-estadio{
        grid-area: img-estadio;
    }
    .video-estadio{
        grid-area: video-estadio;
    }

    /* ESTADIO2 */
    .gridContainerEstadio2{
        display: grid;
        grid-template-areas: 
        "header"
        "titulo-malvicino"
        "desc-malvicino"
        "img-malvicino"
        "footer";
        grid-template-columns: 100%;
    }
    .titulo-malvicino{
        grid-area: titulo-malvicino;
    }
    .desc-malvicino{
        grid-area: desc-malvicino;
    }
    .img-malvicino{
        grid-area: img-malvicino;
    }

    /* FIXTURE */
    .fixture{
        width: 100%;
    }
    .partido{
        padding: 0px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
    .partido h4{
        font-size: 10px;
    }
    .partido img{
        width: 40px;
        height: 40px;
    }
    .club1{
        width: 40%;
    }
    .club2{
        width: 40%;
    }

    /* NOTICIAS */
    .cuerpo-noticia{
        width: 100%;
    }
    .img-noticia{
        width: 100%;
    }
    .img-noticia img{
        width: 300px;
        height: 200px;
    }

    /* CONTACTO */
    .reng-form{
        display: flex;
        flex-direction: column;
    }
    textarea{
        width: 100%;
    }

}